html {
    font-family: sans-serif;
    font-size: 14px;
}

table {
    border: 1px solid lightgray;
    margin: 0 auto;
}

tbody {
    border-bottom: 1px solid lightgray;
    margin: 0 auto;
}

th {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 2px 4px;
    margin: 0 auto;
}

tfoot {
    color: gray;
    margin: 0 auto;
}

tfoot th {
    font-weight: normal;
    margin: 0 auto;
}

.table-btn {
    margin: 0 10px 0 auto;
    background-color: var(--gray-200);
    border: 10px solid black;
}

.table-btn:hover {
    background-color: #cddcfa;
    border-radius: 10px;
    border: 10px solid black;
}
